@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Gabarito', sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

:root {
  --text_color: #2f3640;
  --background_primary: whitesmoke;
}

/* navbar starts from here  */

.navbar {
  width: 300px;
  background: var(--background_primary);
  padding: 0.5rem;
  min-height: 100vh;
  overflow-y: auto;
}

.project_nav {
  padding: 1rem;
}

.project_nav ul li {
  width: 160px;
  list-style-type: none;
  padding: 10px 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project_nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text_color);
  font-weight: 500;
}

.project_nav ul li img {
  height: 2rem;
  width: 2rem;
}


/* right container starts here  */

.right_container {
  padding: 1rem 2rem;
  width: 85%;
  overflow-y: auto;
}

.right_container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.ov_t {
  color: gray;
}

/* --------- dashboard cards goes here -----------*/

.dd_cards {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dd_card {
  width: 300px;
  background: #12CBC4;
  color: white;
  height: 150px;
  padding: 3rem 1.4rem;
  border-radius: 7px;
  position: relative;
  margin-top: 1rem;
}


.dd_card p {
  font-size: 1.4rem;
}

.dd_card span {
  font-size: 2rem;
  font-weight: bold;
}

.dd_card i {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  color: rgba(78, 76, 76, 0.5);
}

.dd_card:nth-child(2) {
  background: #00a8ff;
}

.dd_card:nth-child(3) {
  background: #9c88ff;
}

.dd_card:nth-child(4) {
  background: #e84118;
}

.dd_card:nth-child(5) {
  background: #44bd32;
}

/* --------- search bar component -----------*/



/* --------- order list item here -----------*/

.order_list {
  width: 900px;
  background: #fff;
  margin: 2rem 1rem;
  border-radius: 7px;
}

.order_list_head {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.order_list_head P {
  font-size: 1.3rem;
  font-weight: bold;
  color: lightslategray;
}

.order_list_head button {
  padding: 7px 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* --------- order item here -----------*/

.order_item {
  height: 500px;
  overflow-y: auto;
  padding: 10px 0;
}

.order_item::-webkit-scrollbar {
  display: none;
}

.order_item table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 7px;
}

.order_item table tr,
td {
  height: 50px;
  border: 1px solid lightslategray;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #6b7280;
}

.order_item table thead {
  background: whitesmoke;
  width: 100%;
  font-weight: bold;
}

.order_item table tr:hover {
  background: whitesmoke;
  cursor: pointer;
}

.order_item table tr td:first-child {
  font-weight: bold;
}

.order_item table tr td:nth-child(2) span {
  color: #44bd32;
  font-weight: bold;
  position: relative;
}

.order_item table tr td:nth-child(2) span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #44bd32;
  border-radius: 50%;
}