/* --------- sidebar css here -----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

:root {
  --text_color: #2f3640;
  --background_primary: whitesmoke;
  --btn_color: #1289A7;
}

.overflow {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: none;
}

/* navbar starts from here  */

.navbar {
  width: 300px;
  background: var(--background_primary);
  padding: 0.5rem;
  min-height: 100vh;
  overflow-y: auto;
}

.project_nav {
  padding: 1rem;
}

.project_nav ul li {
  list-style-type: none;
  padding: 10px 1rem;
}

.project_nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text_color);
  font-weight: 500;
}

.project_nav ul li i {
  padding: 0 10px;
}

/* right container starts here  */

.right_container {
  width: 85%;
  overflow-y: auto;
  background: white;
  position: relative;
}

.right_container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* add product btn  */

.add_p_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.add_p_btn button {
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  background: var(--btn_color);
  color: white;
  font-size: 1rem; 
  border-radius: 4px;
  cursor: pointer;
}


/* new product container  */

.new_p_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* prodcut details here  */

.product_details {
  width: 50%;
  border: 1px solid gray;
  padding: 1rem;
}

/* product images container  */
.product_image{
  width: 50%;
  border: 1px solid seagreen;
  min-height: 500px;
  padding: 1rem;
}

.ed_head {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
}

.ed_head i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  border-radius: 50%;
  background: gray;
}

.b2{
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1rem;
  color: gray;
  font-family: poppins;
}

/* product name here  */

.pr_name_c {
  display: block;
}

.pr_name_c label {
  display: block;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.pr_name {
  width: 500px;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--text_color);
}

.pr_name ~ span {
  display: block;
  margin-top: 5px;
  opacity: 0.5;
}

/* product category here  */

.pe_category {
  margin-top: 1rem;
}

.pe_category label {
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  font-weight: bold;
  margin: 1rem 0;
}

.pe_category select {
  width: 500px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  border: 1px solid gray;
}

/* producct brand name here  */

.pe_brand {
  width: 500px;
}

.pe_brand label {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

.pe_brand input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
}

/* product description here  */
.pe_desc {
  width: 300px;
}
.pe_desc label {
  display: block;
  
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.pe_desc textarea {
  width: 500px;
  min-height: 150px;
  padding: 0.6rem;
  font-size: 1rem;
  resize: none;
}

.pe_desc span {
  font-size: 0.9rem;
  opacity: 0.5;
}

/* products images css here  */

.product_image h3:first-child{
  font-size: 2rem;
  font-weight: bold;
}

.pr_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2rem;
}

.pr_img div {
  border: 1px dashed gray;
  min-height: 100px;
}

.pr_img div:last-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  gap: 5px;
}