/* --------- sidebar css here -----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

:root {
  --text_color: #2f3640;
  --background_primary: whitesmoke;
  --btn_color: #1289A7;
}

input,
select {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.overflow {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: none;
}

/* navbar starts from here  */

.navbar {
  width: 300px;
  background: var(--background_primary);
  padding: 0.5rem;
  min-height: 100vh;
  overflow-y: auto;
}

.project_nav {
  padding: 1rem;
}

.project_nav ul li {
  list-style-type: none;
  padding: 10px 1rem;
}

.project_nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text_color);
  font-weight: 500;
}

.project_nav ul li i {
  padding: 0 10px;
}

/* right container starts here  */

.right_container {
  width: 85%;
  overflow-y: auto;
  background: white;
  position: relative;
  user-select: none;
}

.right_container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}


/*---------------- products card here ---------------------- */

.product_cards {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0.5rem;
}
.pr_card {
  width: 250px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.pr_card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pr_card img {
  width: 220px;
  height: 180px;
}
.pr_card__title {
  font-size: 0.8rem;
  opacity: 0.8;
}
.pr_card__price {
  font-size: 1.5rem;
  color: #1289A7;
  font-weight: bold;
}

.pr_card__category {
  font-size: 1.2rem;
  opacity: 0.8;
}

.pr_card__link {
  width: 100%;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 500ms;
  background: transparent;
  color: #1289A7;
  border: 1px solid #1289A7;
  border-radius: 4px;
}

.pr_card__link a {
  text-decoration: none;
  font-size: 1rem;
}

.pr_card__link:hover {
  background: #1289A7;
  color: white;
}


.pr_card__link:hover a {
  color: white;
}


/*---------------- products card ends here ---------------------- */



/* add product btn  */

.add_p_btn {
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: 99;
}

.add_p_btn button {
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  background: var(--btn_color);
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: width 500ms;
}


/* new product container  */

.new_p_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: scale(0);
  visibility: hidden;
  transition: all 500ms;
  border: 1px solid #1B1464;
  border-radius: 4px;
}
.active {
  transform: scale(1);
  visibility: visible;
}

/* prodcut details here  */

.product_details {
  width: 50%;
  padding: 1rem;
  border-right: 1px solid #1B1464;
}

/* product images container  */
.product_image {
  position: relative;
  width: 50%;
  min-height: 500px;
  padding: 1rem;
}

.ed_head {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
}

.ed_head i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  border-radius: 50%;
  background: gray;
}

.b2 {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1rem;
  color: gray;
  font-family: poppins;
}

/* product name here  */

.pr_name_c {
  display: block;
}

.pr_name_c label {
  display: block;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.pr_name {
  width: 500px;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--text_color);
}

.pr_name~span {
  display: block;
  margin-top: 5px;
  opacity: 0.5;
}

/* product category here  */

.pe_category {
  margin-top: 1rem;
}

.pe_category label {
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  font-weight: bold;
  margin: 1rem 0;
}

.pe_category select {
  width: 500px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  border: 1px solid gray;
}

/* producct brand name here  */

.pe_brand {
  width: 500px;
}

.pe_brand label {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

.pe_brand input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
}

/* product description here  */
.pe_desc {
  width: 300px;
}

.pe_desc label {
  display: block;

  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.pe_desc textarea {
  width: 500px;
  min-height: 150px;
  padding: 0.6rem;
  font-size: 1rem;
  resize: none;
}

.pe_desc span {
  font-size: 0.9rem;
  opacity: 0.5;
}

/* products images css here  */

.product_image h3:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.pr_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2rem;
}

.pr_img div {
  border: 1px dashed gray;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
}

.pr_img div:last-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  gap: 5px;
}

/* files upload css here  */


#file {
  display: none;
}

.file_d {
  font-size: 1rem;
  text-align: center;
  opacity: 0.5;
}

.file_d i {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem;
  color: #006266;
}

.product_image p {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-top: 2rem;
}

/* cc container goes here  */

.cc_container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

/* product price here  */

.pr_price label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.pr_price input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.pr_stock label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.pr_stock input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.pr_launch__date label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.pr_launch__date input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.pr_launch__date label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.pr_launch__date input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.pr_discound label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.pr_discound input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
  width: 200px;
}




/* product size goes here  */

.add_size label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.add_size select {
  width: 200px;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
}

/* add product button here  */
.add_product_btn {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.add_product_btn button {
  width: 200px;
  border: 1px solid #1B1464;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
  background: transparent;
}

.add_product_btn button:first-child {
  background: #1B1464;
  color: white;
}

.add_product_btn button:nth-child(2) {
  background: whitesmoke;
}

.add_product_btn button:nth-child(3) {
  opacity: 0.5;
}